cement==3.0.4
jinja2
pyyaml
colorlog
psutil~=5.8.0
pytest~=6.2.4
setuptools~=57.0.0
docker~=5.0.0
tabulate~=0.8.9
SQLAlchemy~=1.4.22
psycopg2~=2.9.1
requests~=2.25.1
websockets==10.1
GitPython~=3.1.24